*, *::after, *::before {
  box-sizing: border-box;
}

.palette_container  {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
